/* Responsive */
@media (max-width: 1424px) {
  .board-container {
    padding-left: 18px;
    padding-top: 80px;
    padding-right: 18px;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
    width: clamp(180px, 16vw, 320px);
  }

  .header-category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: clamp(180px, 16vw, 320px); */
  }

  .in-progress {
    /* width: clamp(180px, 16vw, 320px); */
  }
}

@media (max-width: 1065px) {
  .board {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .board-header h1 {
    margin-bottom: 0;
  }

  .button-task {
    content: url("../assets/img/plus add task mobile.svg");
    padding: 4px;
  }

  .in-progress {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .in-progress .header-category h3 {
    font-size: 26px;
    font-weight: 700;
  }

  .in-progress .header-category img {
    width: 30px;
    height: 30px;
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
    overflow-x: auto;
    /* cursor: grabbing; */

    width: 100%;
  }

  .cards {
    min-width: 250px;
    min-height: 310px;
    max-width: 250px;
    max-height: 310px;
  }

  .span-overflow {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

@media (max-width: 991px) {
  .subtask-input-container.disapear {
    display: none !important;
  }

  .subtask-input-container.show-hidden {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .board-container {
    padding: 50px 20px;
  }

  .board {
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-rows: repeat(4, 1fr);
  }

  .cards {
    width: 240px;
  }
}

@media (max-width: 550px) {
  .h1-content {
    margin-top: 20px;
  }

  .card {
    min-width: 340px;
    max-width: 400px;
  }

  .add-task-content {
    padding: 0px;
  }

  .seperator {
    width: 380px;
  }
}

@media (max-width: 460px) {
  .board-header h1 {
    font-size: 48px;
  }

  .detail-card {
    max-width: 400px;
    min-width: 350px;
    overflow-y: auto;
    max-height: 80vh;
    padding: 24px;
  }

  .wrapper-popup {
    padding-left: 0px;
    padding-right: 0px;
  }

  .card {
    min-width: 0px;
    max-width: 0px;
  }

  .button-task {
    width: 40px;
    height: 40px;
  }

  .overlay-container .card {
    max-width: 0px;
  }
}

@media (max-width: 400px) {
  .board-header h1 {
    font-size: 40px;
  }

  .detail-card {
    max-width: 320px;
    min-width: 280px;
  }
}
