@media (max-width: 991px) {
  .add-contact-overlay {
    flex-direction: column;
    width: clamp(60%, 60vw, 55%);
    max-height: calc(100vh - 180px);
    top: 51%;
    right: calc(100vw - 80%);
  }
  .add-contact-overlay .add-contact-overview {
    width: 100%;
    height: 40%;
    padding: 60px 44px;
    border-radius: 30px 30px 0 0;
  }
  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-title {
    font-size: 32px;
  }
  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-subtitle {
    font-size: 18px;
  }
  .add-contact-overlay .add-contact-overview .join-logo-contact {
    display: none;
  }
  .add-contact-overlay .add-contact-container {
    width: 100%;
    height: 65%;
    padding: 24px;
    border-radius: 0 0 30px 30px;
  }
  .add-contact-overlay .add-contact-container .close-btn {
    font-size: clamp(18px, 4vw, 22px);
    width: 24px;
    height: 24px;
    top: -180px;
    right: 35px;
    color: white;
  }
  .add-contact-overlay .add-contact-container .close-btn:hover {
    background-color: rgba(41, 171, 226, 1);
  }
  .add-contact-overlay .add-contact-container .add-contact-form {
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
    gap: 8px;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .add-contact-badge {
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(40% - 206px);
    margin-bottom: 0;
  }
  .add-contact-overlay .add-contact-container .add-contact-form .contactForm {
    width: 100%;
    margin-top: 48px;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .add-contact-buttons {
    justify-content: center;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .add-contact-buttons
    #cancelBtn {
    display: none;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer {
    min-width: 0;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
  }

  .primary-btn-default-icon {
    font-weight: 700;
    font-size: 14px;
  }
  .primary-btn-hovered-icon {
    font-weight: 700;
    font-size: 14px;
  }
  .secondary-btn-default-icon {
    font-size: 14px;
  }
  .secondary-btn-hovered-icon {
    font-size: 14px;
  }
  .contactValidationErrorMsg {
    color: rgba(230, 0, 38, 1);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    visibility: hidden;
  }
}

@media (max-width: 576px) {
  .add-contact-overlay {
    flex-direction: column;
    width: clamp(90%, 90vw, 80%);
    max-height: calc(100vh - 180px);
    top: 51%;
    right: calc(100vw - 95%);
  }

  .add-contact-overlay .add-contact-overview {
    width: 100%;
    height: 40%;
  }

  .add-contact-overlay .add-contact-container {
    width: 100%;
    max-height: 55%;
  }
}

@media (max-width: 450px) {
  .add-contact-overlay .add-contact-container .add-contact-form .contactForm {
    margin-top: 24px;
  }

  .add-contact-overlay .add-contact-container {
    width: 100%;
    max-height: 55%;
  }

  .add-contact-overlay .add-contact-container .close-btn {
    top: -235px;
    right: 25px;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer {
    min-width: 0;
    width: 100%;
    height: 30px;
    margin-bottom: 0;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer
    img {
    width: 24px;
    height: 24px;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer
    input {
    font-size: 14px;
    width: 100%;
    height: 100%;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer
    input::placeholder {
    font-size: 14px;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .add-contact-buttons
    button {
    height: 36px;
  }

  .add-contact-overlay .add-contact-overview {
    height: 220px;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .add-contact-badge {
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 32px;
    top: calc(40% - 206px);
    margin-bottom: 0;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .add-contact-badge
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .primary-btn-default-icon {
    padding: 8px;
    font-size: 14px;
    /* font-size: clamp(16px, 4vw, 18px); */
  }
  .secondary-btn-default-icon {
    padding: 8px;
    font-size: 14px;
    /* font-size: clamp(16px, 4vw, 18px); */
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer {
    padding: 8px 8px;
  }

  .contactValidationErrorMsg {
    color: rgba(230, 0, 38, 1);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    visibility: hidden;
  }
}
