.d-none {
  display: none !important;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 28px;
  align-items: flex-start;
  padding: 0 30px 0 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 24px;
  width: 420px;
  height: calc(100vh - 96px);
  background-color: #ffffff;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
  padding: 24px 26px;
  overflow-y: auto;
  overflow-x: hidden;
}

.contacts #add-contact {
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  transition: all 125ms ease-in;
  flex-shrink: 0;
  z-index: 10;
}

.contacts #add-contact:hover {
  border: 1px solid #29abe2;
  border-radius: 10px;
  padding: 12px;
  background-color: #29abe2;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.contacts .contact-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  margin-top: 10px;
}

.contacts .contact-list .contact-list-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts .contact-list .contact-list-items .contact-alphabet {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 20px;
  padding: 17px 36px;
}

.contacts .contact-list .contact-list-items #contact-divider {
  display: flex;
  justify-content: center;
  height: 1px;
  width: 100%;
  padding: 0 8px;
  margin-bottom: 16px;
  background-color: rgba(209, 209, 209, 1);
}

.contacts .contact-list .contact-list-items .contact-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px 24px;
  justify-content: flex-start;
  align-items: center;
  /* gap: clamp(20px, 3vw, 35px); */
  gap: 16px;
  border-radius: 10px;
  cursor: pointer;
  flex-grow: 1;
  transition: background 125ms ease;
}

.contacts .contact-list .contact-list-items .contact-container.active {
  background-color: #2a3647;
  color: rgba(255, 255, 255, 1);
}

.contacts .contact-list .contact-list-items .contact-container:hover {
  background: linear-gradient(
    135deg,
    rgba(249, 249, 249, 1),
    rgba(240, 240, 240, 1)
  );
}

.contacts
  .contact-list
  .contact-list-items
  .contact-container.active
  .contactDetails
  .contactName {
  color: rgba(255, 255, 255, 1);
}

.contacts .contact-list .contact-list-items .contact-container .contact-badge {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 122, 0, 1); */
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
}

.contacts .contact-list .contact-list-items .contact-container .contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts
  .contact-list
  .contact-list-items
  .contact-container
  .contactDetails
  .contactName {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 400;
}

.contacts
  .contact-list
  .contact-list-items
  .contact-container
  .contactDetails
  .contactEmail {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 124, 238, 1);
}

.contact-dashboard {
  flex: 1;
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 40px; */
  padding: 80px 0 0 0;
  overflow: hidden;
}

.contact-dashboard .contact-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.contact-dashboard .contact-box h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}

.contact-dashboard .contact-box #vector {
  width: 3px;
  height: 60px;
  background-color: rgba(41, 171, 226, 1);
}

.contact-dashboard .contact-box h3 {
  color: rgba(42, 54, 71, 1);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.floating-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  animation: popup-in 1500ms ease forwards;
}

@keyframes popup-in {
  from {
    opacity: 0;
    transform: translateX(360px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.floating-contact #contact-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 54px;
  align-items: center;
}

.floating-contact #contact-header .contact-badge {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-weight: 500;
}

.floating-contact #contact-header #contact-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}

.floating-contact #contact-header #contact-text #contact-name {
  font-size: 32px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.floating-contact #contact-header #contact-text #contact-edit-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  transition: all 125ms linear;
}

.floating-contact #contact-header #contact-text #contact-edit-tools #edit img {
  content: url("../assets/img/edit-contact.svg");
  width: 24px;
  height: 24px;
}

.floating-contact
  #contact-header
  #contact-text
  #contact-edit-tools
  .edit-delete-component-default {
  transition: all 200ms linear;
}

.floating-contact
  #contact-header
  #contact-text
  #contact-edit-tools
  #edit:hover
  img {
  content: url("../assets/img/edit-hover-contact.svg");
}

.floating-contact
  #contact-header
  #contact-text
  #contact-edit-tools
  #delete
  img {
  content: url("../assets/img/delete-contact.svg");
  width: 24px;
  height: 24px;
}

.floating-contact
  #contact-header
  #contact-text
  #contact-edit-tools
  #delete:hover
  img {
  content: url("../assets/img/delete-hover-contact.svg");
}

.floating-contact
  #contact-header
  #contact-text
  #contact-edit-tools
  #edit:hover
  span,
.floating-contact
  #contact-header
  #contact-text
  #contact-edit-tools
  #delete:hover
  span {
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
}

.floating-contact #contact-information {
  padding: 30px 20px 30px 0;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 20px;
}

.floating-contact #contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.floating-contact #contact-details #contact-email,
.floating-contact #contact-details #contact-phone {
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.floating-contact #contact-details .span-email {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 124, 238, 1);
  cursor: pointer;
}

.floating-contact #contact-details .span-phone {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.popup-message {
  position: fixed;
  top: 80%;
  right: 0;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
  padding: 24px;
  transform: translate(150%, -40%);
  transition: transform 400ms ease-in-out;
  z-index: 1000;
}

.popup-message.slide-in {
  transform: translate(calc(-30vw + 50%), -50%);
}

.popup-message.slide-out {
  transform: translate(150%, -40%);
}

/* ========== Media Queries für Responsiveness ========== */

@media (min-width: 992px) and (max-width: 1199px) {
  .contacts {
    width: clamp(360px, 4vw, 380px);
    padding: 24px 20px;
  }

  .contacts .contact-list {
    width: clamp(360px, 4vw, 380px);
  }

  .contacts .contact-list .contact-list-items .contact-container {
    padding: 15px 18px;
  }

  .contact-dashboard .contact-box {
    gap: 20px;
  }

  .contact-dashboard .contact-box h1 {
    font-size: clamp(38px, 4vw, 42px);
  }

  .contact-dashboard .contact-box #vector {
    height: 60px;
  }

  .contact-dashboard .contact-box h3 {
    font-size: 18px;
  }

  .floating-contact #contact-header {
    gap: 40px;
  }

  .floating-contact #contact-header .contact-badge {
    width: 80px;
    height: 80px;
    font-size: 36px;
  }

  .floating-contact #contact-header #contact-text #contact-name {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  main {
    padding: 0;
  }

  .contacts {
    width: 100%;
    margin-right: 0;
    padding: 12px;
    /* padding: clamp(12px, 4vw, 16px) clamp(16px, 4vw, 24px); */
  }

  .contacts .contact-list {
    gap: 8px;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .contacts .contact-list .contact-list-items .contact-alphabet {
    font-weight: 400;
    font-size: clamp(20px, 4vw, 24px);
  }

  .contacts .contact-list .contact-list-items .contact-container {
    padding: 16px 24px;
  }

  .contacts
    .contact-list
    .contact-list-items
    .contact-container
    .contact-badge {
    width: 54px;
    height: 54px;
    font-size: 20px;
  }

  .contacts #add-contact {
    content: url("../assets/img/person_add-mobile.svg");
    position: fixed;
    right: 40px;
    top: calc(100vh - 160px);
    z-index: 100;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
    gap: 0;
    transition: all 125ms ease-in;
  }

  .contacts #add-contact:hover {
    background-color: #29abe2;
    border-radius: 50%;
  }

  .contacts .contact-list .contact-list-items .contact-container {
    padding: 15px 12px;
    gap: clamp(20px, 4vw, 35px);
  }

  .contacts
    .contact-list
    .contact-list-items
    .contact-container
    .contactDetails
    .contactName {
    font-size: clamp(16px, 4vw, 20px);
  }

  .contacts
    .contact-list
    .contact-list-items
    .contact-container
    .contactDetails
    .contactEmail {
    font-size: clamp(13px, 4vw, 16px);
  }

  .contact-dashboard {
    display: none;
    padding: 50px 25px 25px 25px;
    /* margin: 0 30px 30px 30px; */
  }

  .contact-dashboard .contact-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }

  .contact-dashboard .contact-box h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }

  .contact-dashboard .contact-box #vector {
    width: 3px;
    height: 60px;
    background-color: rgba(41, 171, 226, 1);
  }

  .contact-dashboard .contact-box h3 {
    color: rgba(42, 54, 71, 1);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  .blue-arrow {
    content: url("../assets/img/blue-arrow-left-contacts.svg");
    width: 36px;
    height: 36px;
    position: fixed;
    right: 40px;
    top: 146px;
    cursor: pointer;
  }

  .contact-dashboard .contact-box #vector {
    height: 3px;
    width: 120px;
    order: 3;
  }

  #contact-edit-tools {
    content: url("../assets/img/more-options-vertical-mobile.svg");
    position: fixed;
    background-color: #2a3647;
    right: 40px;
    top: calc(100vh - 160px);
    z-index: 100;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: all 125ms ease-in;
  }

  #contact-edit-tools:hover {
    background-color: #29abe2;
  }

  .floating-contact #contact-header {
    gap: 32px;
  }

  .floating-contact #contact-header .contact-badge {
    width: 80px;
    height: 80px;
    font-size: 36px;
  }

  .floating-contact #contact-header #contact-text #contact-name {
    font-size: 32px;
    font-weight: 600;
  }

  .floating-contact {
    animation: none;
  }
}

@media (max-width: 450px) {
  main {
    padding: 0;
  }

  .contacts {
    width: 100%;
    margin-right: 0;
    padding: 20px;
    /* padding: 20px; */
    /* padding: clamp(12px, 4vw, 16px) clamp(16px, 4vw, 24px); */
  }

  .contacts .contact-list {
    gap: 8px;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .contacts .contact-list .contact-list-items .contact-alphabet {
    font-weight: 400;
    font-size: clamp(20px, 4vw, 24px);
  }

  .contacts #add-contact {
    content: url("../assets/img/person_add-mobile.svg");
    position: fixed;
    right: 40px;
    top: calc(100vh - 160px);
    z-index: 100;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    gap: 0;
    transition: all 125ms ease-in;
  }

  .contacts #add-contact:hover {
    background-color: #29abe2;
    border-radius: 50%;
  }

  .contacts .contact-list .contact-list-items .contact-container {
    padding: 16px 8px;
    gap: 8px;
  }

  .contacts
    .contact-list
    .contact-list-items
    .contact-container
    .contact-badge {
    width: 42px;
    height: 42px;
    font-size: 16px;
  }

  .contacts
    .contact-list
    .contact-list-items
    .contact-container
    .contactDetails {
    display: flex;
    flex-flow: column wrap;
  }

  .contacts
    .contact-list
    .contact-list-items
    .contact-container
    .contactDetails
    .contactName {
    font-size: 16px;
    /* font-size: clamp(16px, 4vw, 20px); */
  }

  .contacts
    .contact-list
    .contact-list-items
    .contact-container
    .contactDetails
    .contactEmail {
    font-size: 12px;
    /* font-size: clamp(13px, 4vw, 16px); */
  }

  .contact-dashboard {
    display: none;
    padding: 50px 25px 25px 25px;
    /* margin: 0 30px 30px 30px; */
  }

  .contact-dashboard .contact-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 60px;
  }

  .contact-dashboard .contact-box h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 34px;
    font-weight: 700;
    margin: 0;
  }

  .contact-dashboard .contact-box #vector {
    width: 3px;
    height: 60px;
    background-color: rgba(41, 171, 226, 1);
  }

  .contact-dashboard .contact-box h3 {
    color: rgba(42, 54, 71, 1);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  .blue-arrow {
    content: url("../assets/img/blue-arrow-left-contacts.svg");
    width: 36px;
    height: 36px;
    position: fixed;
    right: 40px;
    top: 146px;
    cursor: pointer;
  }

  .contact-dashboard .contact-box #vector {
    height: 3px;
    width: 120px;
    order: 3;
  }

  #contact-edit-tools {
    content: url("../assets/img/more-options-vertical-mobile.svg");
    position: fixed;
    background-color: #2a3647;
    right: 40px;
    top: calc(100vh - 160px);
    z-index: 100;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: all 125ms ease-in;
  }

  #contact-edit-tools:hover {
    background-color: #29abe2;
  }

  .floating-contact #contact-header {
    gap: 16px;
  }

  .floating-contact #contact-header .contact-badge {
    width: 70px;
    height: 70px;
    font-size: 32px;
  }

  .floating-contact #contact-header #contact-text #contact-name {
    font-size: 20px;
    font-weight: 600;
  }
}

.editMenuDialogContainer {
  position: fixed;
  width: 100px;
  height: 100px;
  top: calc(100vh - 185px);
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px 20px 0 20px;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  gap: 16px;
  z-index: 100;
  transition: transform 75ms ease-out;
}

.editMenuDialogContainer .edit-delete-component-default {
  transition: all 125ms linear;
}

.editMenuDialogContainer #editDialog.edit-delete-component-default img {
  content: url("../assets/img/edit-contact.svg");
  width: 24px;
  height: 24px;
}

.editMenuDialogContainer #editDialog.edit-delete-component-default:hover img {
  content: url("../assets/img/edit-hover-contact.svg");
}

.editMenuDialogContainer #deleteDialog.edit-delete-component-default img {
  content: url("../assets/img/delete-contact.svg");
  width: 24px;
  height: 24px;
}

.editMenuDialogContainer #deleteDialog.edit-delete-component-default:hover img {
  content: url("../assets/img/delete-hover-contact.svg");
}

.editMenuDialogContainer #editDialog.edit-delete-component-default:hover span,
.editMenuDialogContainer
  #deleteDialog.edit-delete-component-default:hover
  span {
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
}

.editMenuDialogContainer.slide-in {
  transform: translate(0, -50%);
}

.editMenuDialogContainer.slide-out {
  transform: translate(100%, 100%);
}

.popup-message.responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 60px;
  background-color: #2a3647;
  border-radius: 20px;
  color: #ffffff;
  font-size: 19px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1s ease-in-out;
  bottom: 25vh;
}
