.add-contact-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-contact-overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  /* right: calc(100vw - 90%); */
  transform: translate(100%, -50%);
  min-height: 550px;
  max-height: 65vh;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
  .add-contact-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    background-color: rgba(42, 54, 71, 1);
    padding: 66px 48px;
    border-radius: 30px 0 0 30px;
    .join-logo-contact {
      width: 55px;
      height: 65px;
      margin-bottom: 12px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .add-contact-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
      align-items: stretch;
      width: 100%;
      .add-contact-title {
        font-weight: 700;
        font-size: 42px;
        color: rgba(255, 255, 255, 1);
        width: 100%;
        margin: 0;
        display: block;
      }
      .add-contact-subtitle {
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        font-size: 20px;
        width: 100%;
        margin: 0;
        display: block;
      }
      .blue-vector {
        width: 30%;
        height: 3px;
        background: #29abe2;
      }
    }
  }
}

.add-contact-overlay.slide-in {
  transform: translate(0, -50%);
}

.add-contact-overlay.slide-out {
  transform: translate(100%, -50%);
}

.add-contact-overlay .add-contact-container {
  /* width: 65%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 30px 30px 0;
  padding: 48px 48px 80px 40px;
  .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 32px;
    right: 48px;
    cursor: pointer;
    transition: all 125ms ease;
    &:hover {
      background-color: #eeeeee;
      border-radius: 50%;
      border: none;
      outline: none;
    }
  }
  .add-contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    padding-left: 32px;
    margin-top: 48px;
    .add-contact-badge {
      margin-bottom: 40px;
      width: 120px;
      height: 120px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 70%;
      .inputContainer {
        min-width: 350px;
        height: 50px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(209, 209, 209, 1);
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 12px;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .inputContainer
  input::placeholder {
  font-size: 18px;
  color: rgba(209, 209, 209, 1);
  font-weight: 400;
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .inputContainer
  input {
  font-size: 22px;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .inputContainer:focus-within {
  border: 1px solid #29abe2;
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .add-contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  margin-top: 10px;
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .add-contact-buttons
  button {
  height: 54px;
  transition: all 125ms linear;
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .add-contact-buttons
  .secondary-btn-default-icon
  img {
  content: url("../assets/img/add-contact-close-button.svg");
  width: 24px;
  height: 24px;
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .add-contact-buttons
  .primary-btn-default-icon:hover {
  border: 1px solid #29abe2;
  border-radius: 10px;
  padding: 12px;
  background-color: #29abe2;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .add-contact-buttons
  .secondary-btn-default-icon:hover {
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #29abe2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #29abe2;
  cursor: pointer;
}

.add-contact-overlay
  .add-contact-container
  .add-contact-form
  .contactForm
  .add-contact-buttons
  .secondary-btn-default-icon:hover
  img {
  content: url("../assets/img/add-contact-cancel-hover.svg");
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contactValidationErrorMsg {
  color: rgba(230, 0, 38, 1);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  visibility: hidden;
}
/* ========== Media Queries für Responsiveness ========== */

@media (min-width: 1200px) and (max-width: 1439px) {
  .add-contact-overlay .add-contact-overview {
    padding: 66px 38px;
  }
  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-title {
    font-size: 46px;
  }
  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-subtitle {
    font-size: 20px;
  }
  .add-contact-overlay .add-contact-container {
    padding: 48px 48px 40px 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .add-contact-overlay .add-contact-overview {
    padding: 66px 38px;
  }
  .add-contact-overlay .add-contact-overview .join-logo-contact {
    width: 50px;
    height: 60px;
  }
  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-title {
    font-size: 40px;
  }
  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-subtitle {
    font-size: 18px;
  }
  .add-contact-overlay .add-contact-container {
    padding: 48px 48px 40px 40px;
  }
  .add-contact-overlay .add-contact-container .add-contact-form {
    padding-left: 0;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .add-contact-badge {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 991px) {
  .add-contact-overlay {
    flex-direction: column;
    width: clamp(60%, 60vw, 55%);
    max-height: calc(100vh - 180px);
    top: 51%;
    right: calc(100vw - 80%);
  }
  .add-contact-overlay .add-contact-overview {
    width: 100%;
    height: 40%;
    padding: 60px 44px;
    border-radius: 30px 30px 0 0;
  }
  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-title {
    font-size: 32px;
  }
  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-subtitle {
    font-size: 22px;
  }
  .add-contact-overlay .add-contact-overview .join-logo-contact {
    display: none;
  }
  .add-contact-overlay .add-contact-container {
    width: 100%;
    height: 65%;
    padding: 24px;
    border-radius: 0 0 30px 30px;
  }
  .add-contact-overlay .add-contact-container .close-btn {
    font-size: clamp(18px, 4vw, 22px);
    width: 24px;
    height: 24px;
    top: 25px;
    right: 25px;
    color: white;
  }
  .add-contact-overlay .add-contact-container .close-btn:hover {
    background-color: rgba(41, 171, 226, 1);
  }
  .add-contact-overlay .add-contact-container .add-contact-form {
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
    gap: 8px;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .add-contact-badge {
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(40% - 65px);
    margin-bottom: 0;
  }
  .add-contact-overlay .add-contact-container .add-contact-form .contactForm {
    width: 100%;
    margin-top: 48px;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .add-contact-buttons {
    justify-content: center;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .add-contact-buttons
    #cancelBtn {
    display: none;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer {
    height: 40px;
    padding: 8px 16px;
    /* margin-bottom: 16px; */
  }

  .primary-btn-default-icon {
    font-weight: 700;
    font-size: 14px;
    /* gap: 12px; */
  }
  .primary-btn-hovered-icon {
    font-weight: 700;
    font-size: 14px;
    /* gap: 12px; */
  }
  .secondary-btn-default-icon {
    font-size: 14px;
  }
  .secondary-btn-hovered-icon {
    font-size: 14px;
  }
  .contactValidationErrorMsg {
    color: rgba(230, 0, 38, 1);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    visibility: hidden;
  }
}

@media (max-width: 576px) {
  .add-contact-overlay {
    flex-direction: column;
    width: clamp(90%, 90vw, 80%);
    max-height: calc(100vh - 180px);
    top: 51%;
    right: calc(100vw - 95%);
  }

  .add-contact-overlay .add-contact-overview {
    width: 100%;
    height: 40%;
  }

  .add-contact-overlay .add-contact-container {
    width: 100%;
    max-height: 55%;
  }

  .add-contact-overlay
    .add-contact-overview
    .add-contact-text
    .add-contact-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .add-contact-overlay .add-contact-container .add-contact-form .contactForm {
    margin-top: 24px;
  }

  .add-contact-overlay .add-contact-container {
    width: 100%;
    max-height: 55%;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer {
    min-width: 0;
    width: 100%;
    height: 30px;
    margin-bottom: 0;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer
    img {
    width: 24px;
    height: 24px;
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer
    input {
    font-size: 14px;
    width: 100%;
    height: 100%;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer
    input::placeholder {
    font-size: 14px;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .add-contact-buttons
    button {
    height: 36px;
  }

  .add-contact-overlay .add-contact-overview {
    height: 220px;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .add-contact-badge {
    position: absolute;
    width: 90px;
    height: 90px;
    font-size: 32px;
    top: calc(40% - 45px);
    margin-bottom: 0;
  }

  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .add-contact-badge
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .primary-btn-default-icon {
    padding: 8px;
    font-size: 14px;
    /* font-size: clamp(16px, 4vw, 18px); */
  }
  .secondary-btn-default-icon {
    padding: 8px;
    font-size: 14px;
    /* font-size: clamp(16px, 4vw, 18px); */
  }
  .add-contact-overlay
    .add-contact-container
    .add-contact-form
    .contactForm
    .inputContainer {
    padding: 8px 8px;
  }

  .contactValidationErrorMsg {
    color: rgba(230, 0, 38, 1);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    visibility: hidden;
  }
}
