#sign-up-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#sign-up-header {
  width: 100%;
  max-width: 1920px;
  height: 180px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  background-color: #f5f5f5;
}

#sign-up-header .header-img {
  width: auto;
  height: 140px;
}

#sign-up-main-page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 20px 90px 20px;
  height: calc(100% - 70px);
  background-color: #f5f5f5;
}

#sign-up-main-page .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 35px 15px 0px 15px;
}

#sign-up-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
}

#sign-up-footer .footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#sign-up-footer .footer_links_PP_LN {
  color: #a8a8a8;
  line-height: 35px;
}

#sign-up-footer .footer_links_PP_LN:hover {
  color: #29abe2;
  font-weight: 700;
}

#privacy-policy a {
  color: #29abe2;
}

a {
  text-decoration: none;
}

.d_none {
  display: none;
}

.back-arrow {
  display: flex;
  position: absolute;
  top: 70px;
  left: 60px;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
}

.back-arrow:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 100%;
  transform: scale(1.12);
}

.signup-container {
  height: auto;
  width: 100%;
  max-width: 560px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px 80px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
}

.signup-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 20px;
}

.signup-heading h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

.seperator {
  margin-top: 10px;
  height: 2px;
  width: 120px;
  background-color: #29abe2;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  border: none;
}

.checkbox-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

#checkbox {
  width: 16px;
  height: 16px;
  border: 4px solid #2a3647;
  border-radius: 3px;
}

#checkbox:hover {
  cursor: pointer;
  background-color: #424242;
}

.button_container {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

button {
  padding: 10px;
  background-color: #2a3647;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 130px;
  height: 45px;
}

button:hover {
  background-color: #29abe2;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 6px 16px;
  margin-top: 16px;
}

.input-icon-div-switch {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin-right: -10px;
  cursor: pointer;
}

.input-icon input {
  width: 100%;
}

.input-icon:focus-within {
  border-color: #29abe2;
  border: 1px solid #29abe2;
}

.input-icon.active {
  border-color: #29abe2;
  border: 1px solid #29abe2;
}

.error-input-red {
  border-color: red !important;
}

.eye_switch:hover {
  cursor: pointer;
}

#privacy-policy {
  font-size: 15px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 60px;
  background-color: #2a3647;
  border-radius: 20px;
  color: #ffffff;
  font-size: 19px;
  position: fixed;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1s ease-in-out;
}

.message.show {
  bottom: 50%;
  /* Endposition innerhalb des Bildschirms */
}

/*Checkbox style*/

.checkbox-group {
  position: relative;
}

/* echte Checkbox verstecken */
.checkbox-group input {
  display: none;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

/* Icon-Container */
.checkbox-icon {
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
}

/* beide Bilder übereinander */
.checkbox-icon img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/*STANDARD (unchecked)*/
.unchecked-hover,
.checked,
.checked-hover {
  display: none;
}

/*UNCHECKED + HOVER*/
.checkbox-group label:hover .unchecked {
  display: none;
}

.checkbox-group label:hover .unchecked-hover {
  display: block;
}

/*CHECKED*/
.checkbox-group input:checked+label .unchecked,
.checkbox-group input:checked+label .unchecked-hover {
  display: none;
}

.checkbox-group input:checked+label .checked {
  display: block;
}

/*CHECKED + HOVER*/
.checkbox-group input:checked+label:hover .checked {
  display: none;
}

.checkbox-group input:checked+label:hover .checked-hover {
  display: block;
}

.error-message {
  color: rgba(230, 0, 38, 1);
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
  visibility: hidden;
}

.fa-regular.fa-envelope,
.fa-regular.fa-user,
.fa-solid.fa-lock {
  color: rgba(168, 168, 168, 1);
  font-size: 18px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin-right: 10px;
}

.fa-solid.fa-lock {
  color: rgba(168, 168, 168, 1);
  font-size: 18px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  cursor: pointer;
}

.fa-regular.fa-eye {
  color: rgba(168, 168, 168, 1);
  font-size: 18px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin-right: 10px;
  cursor: pointer;
}

.fa-regular.fa-eye-slash {
  color: rgba(168, 168, 168, 1);
  font-size: 18px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin-right: 10px;
  cursor: pointer;
}

#signupCheckedMsg {
  color: rgba(230, 0, 38, 1);
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  visibility: hidden;
}